/* @media screen and (ancho: valor){
    selector{propiedad: valor;}
    
} */

/* Celular */
@media screen and (max-width:600px) {
    body{
        background-color: yellow;
    }

    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    
}

/* Tablets */
@media screen and (min-width:600px) and (max-width:850px) {
    body{
        background-color:deepskyblue;
    }

    h1{
        font-style: italic;

    }
    
}

